@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  .word-wrap {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0 0.05em;
    margin: 0 -0.05em;
  }
  
  .word {
    display: inline-block;
    will-change: transform;
  }
  
  .char {
    display: inline-block;
    will-change: transform;
    white-space: pre;
  }